[user]
	email = lipsergey@gmail.com
	name = Sergej
[core]
	excludesfile = ~/.gitexcludes
#	quotepath = off
#	autocrlf = true
[commit]
	verbose = true
[init]
	defaultBranch = main
[alias]
	st = status -bs
	ch = checkout
  	co = commit -m
  	ca = commit -am
  	br = branch 
	dw = diff --color-words
	lg2 = log --graph --decorate --format=format:'%C(auto)%h %ad %C(bold)%s -%Cblue %an%C(auto) %d' --date=short --all
	lg = log --graph --decorate --format=format:'%C(yellow)%h %C(bold)%C(auto)%s %C(blue)%cr %C(auto)%d' --all --abbrev-commit
#[i18n]
#	filesEncoding = windows-1251
	
	
